
body{
    position: relative;
    height: 100vh;
}
.cardborder{
    border: 3px outset navy;
    border-radius: 10px;
}

@media screen and (max-width:425px) {
    .cardborder{
        width: 90%;
    }
}
@media screen and (min-width:768px){
    .cardborder{
        width: 40%;
    }
}

footer{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: blue;
}
footer a{
    text-decoration: none;
}